services:
    sio_test:
        user: app
        build:
            context: .
            args:
                USER_ID: ${USER_ID:-1000}
        ports:
            - "8337:8337"
        volumes:
            - .:/app:rw
        environment:
            - APP_ENV=dev
            - DATABASE_URL=${DATABASE_URL}
        depends_on:
            - postgres
        networks:
            - app_network


    postgres:
        image: postgres:18
        container_name: postgres
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB}
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql
        networks:
            - app_network

volumes:
    postgres_data:

networks:
    app_network:
        driver: bridge
